<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
    	<div class="footer-right">
    		Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>,
        Theme <a href="http://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      </div>
    </div>
  </div><br>
  <div class="outer">
    <div id="footer-info">
      <div class="footer-right">
        Favicon made by <a href="http://www.freepik.com/" target="_blank">Freepik</a> from <a href="http://www.flaticon.com/" target="_blank">www.flaticon.com</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
</footer>